body {
    margin: 5px;
    padding: 5px;
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', serif;

}
.header-title{
    font-weight:lighter;
    font-size: 40px;
    letter-spacing: 2px;
}

.header-wrapper {
    height: 115px;
    background-color: rgba(75, 70, 41, 0.5);
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;

}



.link-wrapper {
    height: 80px;
    display: flex;
    justify-content: center;
    padding: 1px 1px;
    align-items: center;
}

.nav-link {
    width: 200px;
    padding: 40px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: #554d4a;
    text-decoration: none;
    transition: 0.6s;
    letter-spacing: 1px;
}

.nav-link:hover {
    color: #52704C;
    letter-spacing: 2px;
    border-radius: 1px;
    text-decoration: underline;


}

.hline {
    width: 98.5vw; 
    height: 1px; 
    background: #8a817c 
   }


.main-section {
    align-items: center;
    margin: 50px 50px 50px 50px;
}
.column-wrapper {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
    margin: 25px 50px 25px 50px
    

}

.column-1-image{
    height: 48vh;
    object-fit: scale-down;
    border: 1px solid #8a817c;
    padding: 10px;
    box-shadow: 5px 10px 18px #8a817c;
    margin: 20px;
    max-height: 100%;
    width: auto;
    height: auto;
   
}

.column-2-image {
    height: 48vh;
    object-fit: scale-down;
    margin: 20px;
    border: 1px solid #8a817c;
    padding: 10px;
    box-shadow: 5px 10px 18px #8a817c;
    max-height: 100%;
    width: auto;
    height: auto;

}

.column-3-image {
   height: 48vh;
   object-fit: scale-down;
   margin: 20px;
   border: 1px solid #8a817c;
   padding: 10px;
   box-shadow: 5px 10px 18px #8a817c;
   max-height: 100%;
   width: auto;
   height: auto;
  
}



.footer-container{
    border-top: 1px solid #8a817c;
    padding:5px;
}

.footer-flex{
    display:flex;
    justify-content:space-between;
    align-items: center;


}

.footer-quote {
    font-family: 'Raleway';
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: #554d4a;
    text-decoration: none;
    transition: 0.6s;
    letter-spacing: 1px;
    font-size: 1.5em;
}


@media (min-width: 720px) {
    body {
        background-color: white;
    }
}