body {
    margin: 5px;
    padding: 5px;
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', serif;
}


.header-title{
    font-weight:lighter;
    font-size: 40px;
    letter-spacing: 2px;
}

.header-wrapper {
    height: 115px;
    background-color: rgba(75, 70, 41, 0.5);
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;

}



.link-wrapper {
    height: 80px;
    display: flex;
    justify-content: center;
    padding: 1px 1px;
    align-items: center;
}

.nav-link {
    width: 200px;
    padding: 40px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: #554d4a;
    text-decoration: none;
    transition: 0.6s;
    letter-spacing: 1px;
}

.nav-link:hover {
    color: #52704C;
    letter-spacing: 2px;
    border-radius: 1px;
    text-decoration: underline;


}

.hline {
    width: 100vw; 
    height: 1px; 
    background: #8a817c 
   }

.visual-resume {
    justify-content:center;
    object-fit: scale-down;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;

}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 70%;
  }