<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experience-Tiffany DeWitt</title>
    <link rel="stylesheet" href="experience.css">

</head>

<body>

    <header class="header-wrapper">
        <h1 class="header-title">Welcome</h1>

    </header>
    <div class="hline"></div>
    <div class="nav-link-wrapper">
        <nav class="link-wrapper">
            <a class="nav-link" href="../../index.html">HOME</a>
            <a class="nav-link" href="../about/about.html">ABOUT</a>
            <a class="nav-link" href="../experience/experience.html">EXPERIENCE</a>
            <a class="nav-link" href="../contact/contact.html">CONTACT</a>
        </nav>
    </div>

    <div class="hline"></div>

    <div class="visual-resume">
        <img src="../../assets/Career path example (project management) - Copy of Career path example (project management).png"
            alt="Resume" height="500px" width="750px" class="center">
    </div>

    <script src="experience.js"></script>
</body>

</html>