
body {
    margin: 5px;
    padding: 5px;
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', serif;
}


.header-wrapper {
    height: 150px;
    background-color: rgba(75, 70, 41, 0.5);
    color: #ffffff;
    display: flex;
    letter-spacing: 3px;
    align-items: center;
    justify-content: center;
    top: 0;

}



.link-wrapper {
    height: 80px;
    display: flex;
    justify-content: center;
    padding: 1px 1px;
    align-items: center;
}

.nav-link {
    width: 200px;
    padding: 40px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: #554d4a;
    text-decoration: none;
    transition: 0.6s;
    letter-spacing: 1px;
}

.nav-link:hover {
    color: #52704C;
    letter-spacing: 2px;
    border-radius: 1px;
    text-decoration: underline;


}

.hline {
    width: 100vw; 
    height: 1px; 
    background: #8a817c 
   }


.footer-container{
    margin: 30px 0 0 0;
}

.icons-flex{
    display:flex;
    justify-content: center;

}





.square{
    margin-right:10px;

}

a .square{
    color:rgba(38, 43, 40, 0.658);

}

a .square:hover{
    color: #52704C;
}


.envelope{
  font-size: 100px;
  margin: 0 52px 0 50px;

}

.linkedin-box{
    font-size: 90px;
    margin: 3px;
   
}

.github{
    font-size: 92px;

}