<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="contact.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <script src="/app.js"></script>
</head>

<body>
    <header class="header-wrapper">
        <h1>Welcome</h1>

    </header>
    <div class="hline"></div>
    <div class="nav-link-wrapper">
        <nav class="link-wrapper">

        </nav>
    </div>
    <div class="hline"></div>


    <footer class="footer-container">
        <div class="footer-flex">
            <div class="icons-flex">


                <a href="https://www.linkedin.com/in/tiffany-dewitt-256a49230/">
                    <i class="fab fa-linkedin fa-3x square"></i>
                </a>

                <a href="https://www.instagram.com/tiffwdewitt/">
                    <div class="insta-box">
                        <i class="fab fa-instagram fa-2x insta"></i>

                    </div>
            </div>
            <div class="envelope">
                <a href="mailto:tiffdewitt@gmail.com">
                    <i class="fas fa-envelope square envelope"></i>
                </a>
            </div>

        </div>
    </footer>

    <script src="contact.js"></script>
</body>

</html>

<script>function setActiveLink() {
        let links = document.getElementsByClassName('nav-link');

        for (let i = 0; i < links.length; i++) {
            console.log('CURRENT LINK:', links[i]);
            console.log(links[i].getAttribute("href"));
            console.log(document.location.pathname);
            if (links[i].getAttribute("href") === document.location.pathname) {
                links[i].style = 'text-decoration: underline';
            }
        }
    }




    function addNav(text, url, id, cls) {
        var nav = '<a id="' + id + '" class="' + cls + '" href="' + url + '">' + text + '</a>'
        //document.getElementById("link-test").innerHTML += nav;
        //document.getElementById("link-test").appendChild(nav);
        document.getElementsByClassName("link-wrapper")[0].innerHTML += nav;
    }

    addNav('HOME', 'index.html', 'navHome', 'nav-link')
    addNav('ABOUT', './components/about/about.html', 'navAbout', 'nav-link')
    addNav('EXPERIENCE', './components/experience/experience.html', 'navExperience', 'nav-link')
    addNav('CONTACT', './components/contact/contact.html', 'navContact', 'nav-link')

    setActiveLink();</script>