<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact-Tiffany DeWitt</title>
    <link rel="stylesheet" href="contact.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">

</head>

<body>
    <header class="header-wrapper">
        <h1 class="header-title">Welcome</h1>

    </header>
    <div class="hline"></div>
    <div class="nav-link-wrapper">
        <nav class="link-wrapper">
            <a class="nav-link" href="../../index.html">HOME</a>
            <a class="nav-link" href="../about/about.html">ABOUT</a>
            <a class="nav-link" href="../experience/experience.html">EXPERIENCE</a>
            <a class="nav-link" href="../contact/contact.html">CONTACT</a>
        </nav>
    </div>
    <div class="hline"></div>


    <footer class="footer-container">
        <div class="footer-flex">
            <div class="icons-flex">

                <div class="linkedin-box">
                    <a href="https://www.linkedin.com/in/tiffany-dewitt-256a49230/">
                        <i class="fab fa-linkedin square linkedin-box"></i></i>
                    </a>
                </div>


                <div class="envelope">
                    <a href="mailto:tiffdewitt@gmail.com">
                        <i class="fas fa-envelope square envelope"></i>
                    </a>
                </div>
                <div class="github">
                    <a href="https://github.com/tiffdew">
                        <i class="fab fa-github-square square github"></i>
                    </a>
                </div>

            </div>
        </div>
    </footer>

    <script src="contact.js"></script>
</body>

</html>