<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="contact.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>

<body>
    <header class="header-wrapper">
        <h1>Welcome</h1>

    </header>
    <div class="hline"></div>
    <div class="nav-link-wrapper">
        <nav class="link-wrapper">
            <a class="nav-link" href="../../index.html">HOME</a>
            <a class="nav-link" href="../about/about.html">ABOUT</a>
            <a class="nav-link" href="../experience/experience.html">EXPERIENCE</a>
            <a class="nav-link" href="contact.html">CONTACT</a>
        </nav>
    </div>
    <div class="hline"></div>


    <footer class="footer-container">
        <div class="footer-flex">
            <div class="icons-flex">


                <a href="https://www.linkedin.com/in/tiffany-dewitt-256a49230/">
                    <i class="fab fa-linkedin fa-3x square"></i>
                </a>

                <a href="https://www.instagram.com/tiffwdewitt/">
                    <div class="insta-box">
                        <i class="fab fa-instagram fa-2x insta"></i>

                    </div>


                    <a href="">
                        <div class="envelope">
                            <i class=""></i>
                        </div>


            </div>

        </div>
        <div>

        </div>
        </div>
    </footer>
</body>

</html>