<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="about.css">


</head>

<body>
    <header class="header-wrapper">
        <h1>Welcome</h1>

    </header>
    <div class="hline"></div>
    <div class="nav-link-wrapper">
        <nav class="link-wrapper">

        </nav>
    </div>
    <div class="hline"></div>


    <div class="main-content">
        <div class="column-1-image">
            <img src="../../assets/40806940-D1A2-4A71-B48C-3B686A88B641_1_105_c.jpeg" alt="family" height="275px"
                width="400px">

        </div>
        <div class="sidebar-info">
            Tempora in nesciunt qui. Quae et fugiat maxime.
            Quod occaecati veritatis eos libero error. Aliquid
            ad ut dolor et quis voluptatem adipisci porro.
        </div>


    </div>
    <div class="button-section">
        <div class="button-spacing">
            <button class="sidebar-btn">
                <div class="btn-flex">
                    <a class="blog-link" href="https://www.provolibrary.com/component/tags/tag/tiffany">Provo
                        City Library
                        Blog
                        Contributions</a>
                    <i class="fas fa-arrow-right"></i>
                </div>
            </button>
        </div>

        <div class="button-spacing">
            <button class="sidebar-btn">
                <div class="btn-flex">
                    <a class="blog-link" href="https://dewroo.blogspot.com/">Personal Blog</a>
                    <i class="fas fa-arrow-right"></i>
                </div>
            </button>
        </div>
    </div>




</body>

</html>

<script src="/Tech-Moms-Portfolio/app.js"></script>