body {
    margin: 5px;
    padding: 5px;
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', serif;
}


.header-title{
    font-weight:lighter;
    font-size: 40px;
    letter-spacing: 2px;
}

.header-wrapper {
    height: 115px;
    background-color: rgba(75, 70, 41, 0.5);
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;

}



.link-wrapper {
    height: 80px;
    display: flex;
    justify-content: center;
    padding: 1px 1px;
    align-items: center;
}

.nav-link {
    width: 200px;
    padding: 40px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: #554d4a;
    text-decoration: none;
    transition: 0.6s;
    letter-spacing: 1px;
}

.nav-link:hover {
    color: #52704C;
    letter-spacing: 2px;
    border-radius: 1px;
    text-decoration: underline;


}

.hline {
    width: 100vw; 
    height: 1px; 
    background: #8a817c 
   }

   .column-1-image{
    display: flex;
    align-items:center;
    border: 1px solid #8a817c;
    padding: 10px;
    box-shadow: 5px 10px 18px #8a817c;
    margin: 20px;
    justify-content: space-around;
    width:405px;

}

.main-content {
    display: flex;
}

.sidebar-title{
    font-size: 60px;
    font-weight: 300;
    padding: 65px;
    color:rgba(38, 43, 40, 0.658);
}
.sidebar-main {
    display:flex;
    padding: 20px;

}

.button-spacing{
   align-items: center;
   justify-content:center;
   margin: 0 25px 0 25px;
}

.sidebar-btn{
    background-color: rgba(75, 70, 41, 0.5);
    box-shadow: 5px 10px 18px #8a817c;
    color:#ffffff;
    font-size:18px;
    text-decoration: none;
    width: 200px;
    height: 60px;
    cursor: pointer;
}

.btn-flex{
    display:flex;
    justify-content: center;
    align-items: center;
}

.blog-link {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
}

.button-section {
    display:flex;
    justify-content:center;
    padding: 10px;
    margin: 0 0 0 350px;
}